@use "./helpers/mediaQ" as *;

.container {
    margin-left: 1rem;
    margin-right: 1rem;

    @include mediaQ(small) {
        max-width: 768px;
        margin: auto;
    }

    @include mediaQ(medium) {
        max-width: 991px;
        margin: auto;
    }
    @include mediaQ(large) {
        max-width: 1200px;
        margin: auto;
    }
}

%main-title {
    font-size: 2.125rem;
    font-weight: 500;
    margin-bottom: 10px;
    color: var(--Very-Dark-Blue);
}

%main-p {
    color: var(--Grayish-Blue);
    line-height: 1.6;
    margin-bottom: 1.5rem;
}